// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #0554d8;
  --ion-color-primary-rgb: 5,84,216;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #044abe;
  --ion-color-primary-tint: #1e65dc;

  /** secondary **/
  --ion-color-secondary: #a852d6;
  --ion-color-secondary-rgb: 168,82,214;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255,255,255;
  --ion-color-secondary-shade: #9448bc;
  --ion-color-secondary-tint: #b163da;

  /** tertiary **/
  --ion-color-tertiary: #5400b0;
  --ion-color-tertiary-rgb: 84,0,176;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255,255,255;
  --ion-color-tertiary-shade: #4a009b;
  --ion-color-tertiary-tint: #651ab8;

  /** success **/
  --ion-color-success: #35bb13;
  --ion-color-success-rgb: 53,187,19;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255,255,255;
  --ion-color-success-shade: #2fa511;
  --ion-color-success-tint: #49c22b;

  /** warning **/
  --ion-color-warning: #f7c211;
  --ion-color-warning-rgb: 247,194,17;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #d9ab0f;
  --ion-color-warning-tint: #f8c829;

  /** danger **/
  --ion-color-danger: #eb0000;
  --ion-color-danger-rgb: 235,0,0;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #cf0000;
  --ion-color-danger-tint: #ed1a1a;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34,36,40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #9b9b9b;
  --ion-color-medium-rgb: 155,155,155;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0,0,0;
  --ion-color-medium-shade: #888888;
  --ion-color-medium-tint: #a5a5a5;

  /** light **/
  --ion-color-light: #ffffff;
  --ion-color-light-rgb: 255,255,255;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #e0e0e0;
  --ion-color-light-tint: #ffffff;

  --ion-toolbar-background: var(--ion-color-primary);
  --ion-toolbar-color: var(--ion-color-primary-contrast);

}

ion-toolbar {
  ion-button,
  ion-back-button,
  ion-menu-button,
  .sc-ion-back-button-ios-h {
    --color: white;
  }
}